<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Typing Test</title>
        <script src="index.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="hud">
            <%- include('topbar.ejs')%>
        </div>
        <div class="centered-text">
            <h1>Keybinds</h1>
            <p>Tab - restart test</p>
        </div>
    </body>
</html>
<script>
    themePage();
</script>