<div id="top-bar">
    <table>
        <tr>
            <td><a class="top-row" href="/">Play</a></td>
            <td><a class="top-row" href="/stats">My Stats</a></td>
            <td><a class="top-row" href="/leaderboard">Leaderboard</a></td>
            <td><a class="top-row" href="/about">About</a></td>
        </tr>
    </table>
</div>